В случае неполадок или вопросов пишите <a href="{{ support_tg }}">менеджеру</a><br>
Подробную информацию о сервисе можно найти в нашем сообществе <a href="https://t.me/modeservice/4">@modeservice</a><br>
