New order!<br>
№: {{order_id}}<br>
User: {{first_name}} <a href="tg://user?id={{user_id}}">{{user_id}}</a> @{{username}} <br>
inf: {{caption}}<br>
size:  {{size}} <br>
promo: #{{promo}} <br>
date: {{created_at.strftime('%d.%m.%Y %H:%M:%S')}}