Отлично! <br>
У тебя определенно точно есть вкус! <br>
Какой размер тебе нужен? <br>
Если ты прислал больше одной вещи -  напиши размеры в том же порядке, в котором отправил вещи в предыдущем сообщении
