Заявка составлена!<br>
Наш мененджер рассчитает стоимость вещей и длительность доставки и свяжется с тобой в скором времени в личных сообщениях!<br>
Присоединяйся к нашему  <a href="https://t.me/modeservice">тг сообществу</a>, чтобы не пропустить все самое интересное!